
.agGridContainer{
    width: 100%;
display: flex;
    height: 58vh;
}
.tableRowDetailConatiner{
    width: 67%;
    float: left;
margin-left: 1%;
}
.gridSec{
    width: 100%;
    box-shadow: 0 -2px 8px #ccc;
}
.expanded.agGridContainer .gridSec{
width: 32%;
}
.SearchSec{
display: flex;
justify-content: space-between;
padding: 15px 20px 10px;
align-items: center;
}
.SearchSec h2{
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
.ListTitle{
    padding: 30px 10px 10px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 0;
    margin-top: 0;
}
h2{
    font-size: 1.3em;
}
@media only screen and (max-width: 600px) {
    .tableRowDetailConatiner{
        width: 100%;
    }
    .expanded.agGridContainer .gridSec{
        width: 0%;
        }
}    

.tableRowDetailConatiner{
    height: -moz-calc(calc(100vh - 170px));
    height: -webkit-calc(calc(100vh - 170px));
    height: calc(calc(100vh - 170px));
  }