
.LoginContainer{
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    display: flex;
    padding: 16px 24px 24px;
    margin-top: 64px;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 11;
    position: relative;
    background: rgba(255, 255, 255, .8)
}
.LoginWrapper:before{
    height: 100vh;
    width: 100vw;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background: url("../../../assets/images/bg.jpg") 0 0 no-repeat; 
    background-size: cover;
     /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);  */
}

@media only screen and (max-width: 600px) {
    .LoginWrapper:before{
        background-position: center;

    }
}